//sizes

$grid-size: 1190px;
$col1-size: 300px;

//cores
$clean-color: #ffffff;
$first-color: #f5f8fa;


//preSets
@mixin blockCenter {
	display:block;
	width:100%;
	margin:0 auto;
}

@mixin fullPseudo {
	display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}