.side-box{
	width: 100%;
    background: $clean-color;
    border: 1px solid $lightGray-color;
    border-radius: 5px;
    height: auto;
    padding: 15px;
    font-size: 12px;
	overflow: hidden;

	~ .side-box{
		margin-top:10px;
	}

    > header{
    	margin-bottom: 15px;
    	padding-left: 1px;

    	h3{
    		color: $dark-color;
   			display: inline-block;
    		font-size: 18px;
    		font-weight: 300;
    		line-height: 1;
    	}
    	a{	
    		color: $gray-color;
    		font-size:12px;
    		line-height:16.5px;
    		text-decoration: none;
    		&:hover{
    			text-decoration:underline;
    		}
    	}
    }

    > main{
    	ul{
    		width:100%;
    		overflow: hidden;
    		> li {
    			width:100%;
    			display:block;
    			&:first-child{
    				margin-top:0px;
    			}
    		}
    	}
    }

    > footer{
    	a{
    		color: $gray-color;
    		font-size:12px;
    		line-height:16.5px;
    		text-decoration: none;
    		&:hover{
    			text-decoration:underline;
    		}
    	}
    }

} 


.side-box > main > ul > li.followsItem{
	padding-left:55px;
	position: relative;
	min-height:48px;
	margin:10px 0 15px 0;
	figure{
		position: relative; 
    	margin-right: 20px;
    	a{
    		text-decoration: none;
    	}

    	img{
    		position:absolute;
    		top: 0;
    		left: -55px;
    		border:0;
   			border-radius: 5px;
   			width:48px;
   			height: 48px;
    	}
    	figcaption{
    		margin-left:3px;
			width: 100%;
			height:22px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

    		>* {
    		}

    		b{
    			color: $darker-color;
   				font-size: 13px;
   				font-weight: bold;
   				letter-spacing: 0.1px;
    		}

    		i{
				color: #77c7f7;
				position: relative;
				font-family: "rosettaicons";
				font-size: 16px;
				line-height: 15px;
				font-style: normal;
				font-weight: 400;
				margin-left: 3px;
				margin-right:3px;

		        &:before{
		          color: $clean-color;
		          content: "\f032";
		          position: absolute;
		          top: 19%;
		          left: 15%;
		          font-size: .7em;
		          line-height: 1;
		        }
		        &:after{
		          content: "\f099";
		          position: relative;
		          line-height: 1;
		          top:3px;
		        }
		    }

		    span{
		    	font-size:13px;
		    	color: $darkGray-color;

		    	&:before{
		    		content:'@' ;
		    		color: #b1bbc3;
		    	}
		    }
	    }

	    a:hover figcaption b{
	    	text-decoration: underline;
	    	color: $gray-color;
	    }
	}
}

.side-box button.close{
	position:absolute;
	top:0;
	right:1px;
}

.side-box button.seguir{
	margin-top:1px;
	margin-left:3px;
	width:88px;
	height:29px;
	line-height: 25px;
    font-size: 13px;
    padding: 2px 11px 5px;

    &:before{
    	top:5px;
    	left:11px;
    }
}




.side-box > main > ul > li.topicsItem{
	line-height: 17px;
	margin-bottom: 10px;
	a{
		display:block;
		width:100%;
		height:100%;
		font-size: 13px;
		line-height: 17px;
		text-decoration: none;

		&:hover b{
			text-decoration: underline;
		}

		b{
			color: $gray-color;
			font-weight: bold;
			display: block;
		}

		p{
			color: $darkGray-color;
		}
	}

}