.twitFeed{
	width:100%;
	background: $clean-color;
	margin-bottom: 20px;
	> .feedList {
		> li{
			border: 1px solid $lightGray-color;
			border-top:0px;
			display:block;
			width:100%;
			padding:11px 12px;
			cursor:pointer;

			&:hover{
				background: $first-color;
			}

			> article{
				margin-left:58px;
			}
		}
	}

	> span{
	    width: 100%;		
	    text-align: center;
	    display: block;
	    height: 62px;
	    background: $clean-color;
	    line-height: 62px;
	    overflow: hidden;
	    border-radius: 0px 0px 5px 5px;
	    border: 1px solid $lightGray-color;
	    border-top: 0px;
	    text-indent:-9999px;
	    background-image: url('../../static/img/spinner-rosetta-gray-32x32.gif');
	    background-repeat: no-repeat;
	    background-position: center;
	}
}
