header.topo > figure{
	@include blockCenter;
	height:500px;
	position:relative;
	overflow: hidden;
	margin-top:46px;

	img{
		position: absolute;
	    left: 0;
	    right: 0;
	    top: -9999px;
	    bottom: -9999px;
	    margin: auto 0;
	    width: 100%;
	    transition: top 0.15s ease-out;
	    &.volta{
	    	transition: top 0.3 ease-in-out;
	    }
	}

	&:before {
	    @include fullPseudo;
	    height: calc(100% + 46px);
	    top:-46px;
	    width:120%;
	    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.2);
	    z-index: 1;
	}
}