header.topo > nav{
	@include blockCenter;
	border-bottom: 1px solid #e1e8ed;
	height: 60px;
	background: $clean-color;
}


header.topo > nav > div {
	@include blockCenter;
	width: $grid-size;

	> h1 {
		width: $col1-size;
		padding: 5px;
		position:relative;
		display:inline-block;

		figure {
			// display:none;
			display: block;
			width:210px;
			height:210px;
			border:5px solid $clean-color;
			box-shadow: 0 1px 1px rgba(136,153,166,0.15);
			border-radius:12px;
			background: $clean-color;
			position: absolute;
			bottom: -27px;
			z-index:10;
			margin-left:5px;
			a{
				@include blockCenter;
				height:100%;
			}
			img{
				width:100%;
				height:100%;
			}

		}

		figcaption{
			display:none;
			position: absolute;
		    top: -50px;
		    height: 60px;
		    padding: 10px 12px 10px 55px;
		    a{
		    	color: inherit;
			    text-decoration: none;
		    	&:hover{
		    		text-decoration: underline;
		    	}
		    }

		    > b{ 
		    	color: #292f33;
			    font-weight: 700;
			    font-size: 18px;
			    height:22px;
			    display:inline-block;
		    }

		    > span{
	    		color: #A8A1A2;
			    font-size: 13px;
			    font-weight: 400;
			    line-height: 1;
			    display:block;

			    &:hover{
	    			color: #66757f;
			    }
	   		}

	   		img{
	   			width:36px;
	   			height:36px;
	   			border-radius:4px;
	   			position:absolute;
	   			left:10px;
	   		}

	   		i{
	   			position:relative;
	   			display:inline-block;
	   			margin-left:3px;
	   			font-size:16px;
	   			color: #77c7f7;
    			font-family: "rosettaicons";
	   		}
	   		i:before{
				content: "\f032";
			    position: absolute;
    			color: #ffffff;
			    top: 19%;
			    left: 15%;
			    font-size: .7em;
			    line-height: 1;
			}
			i:after{
				content: "\f099";
			    position: relative;
			    line-height: 1;
			}

		}
	}

	ul.list-infos{
		display:inline-block;
		width: auto;
		height:100%;
		overflow: hidden;

		li{
			display:inline-block;
			text-align: center;

			> a{
				padding:10px 15px 7px 15px;
				height: 60px;
				display:block;
				text-decoration:none;
				border-color:$gray-color;
    			border-bottom-style: solid;
    			line-height: 1;
    			color: $gray-color;
				transition: 0.15s ease-in-out;

				> span{
					color: $dark-color;
					font-size: 11px;
	    			letter-spacing: .02em;
	   				text-transform: uppercase;
	    			transition: inherit;
				}

				p{
					font-size: 18px;
    				padding-top: 2px;
    				font-weight: 500;
	    			transition: inherit;
				}

				&.active{
					color: $darker-color;
					border-bottom-width: 4px;
					cursor: default;
				}

				&:hover:not(.active){
					color: $gray-color;
					border-bottom-width: 4px;

					> span{
						color: $gray-color;
					}

				}
			}
		}
	}
}