header.topo > nav{
	@include blockCenter;
	border-bottom: 1px solid #e1e8ed;
	height: 60px;
}


header.topo > nav > div {
	@include blockCenter;
	width: $grid-size;

	> h1 {
		width: $col1-size;
		padding: 5px;
		position:relative;
		display:inline-block;

		figure {
			display: block;
			width:210px;
			height:210px;
			border:5px solid $clean-color;
			box-shadow: 0 1px 1px rgba(136,153,166,0.15);
			border-radius:12px;
			background: $clean-color;
			position: absolute;
			bottom: -42px;
			z-index:10;
			a{
				@include blockCenter;
				height:100%;
			}
			img{
				width:100%;
				height:100%;
			}

		}

		figcaption{
			display:none;
		}
	}

	ul.list-infos{
		display:inline-block;
		width: auto;

		li{
			display:inline-block;
			text-align: center;

			> a{
				padding:11px 15px 7px 15px;
				height: 60px;
				display:block;
				text-decoration:none;
				border-color:$gray-color;
    			border-bottom-style: solid;
    			line-height: 1;
    			color: $gray-color;
				transition: 0.15s ease-in-out;

				> span{
					color: $dark-color;
					font-size: 11px;
	    			letter-spacing: .02em;
	   				text-transform: uppercase;
	    			transition: inherit;
				}

				p{
					font-size: 18px;
    				padding-top: 2px;
    				font-weight: 500;
	    			transition: inherit;
				}

				&.active{
					color: $darker-color;
					border-bottom-width: 4px;
					cursor: default;
				}

				&:hover:not(.active){
					color: $gray-color;
					border-bottom-width: 4px;

					> span{
						color: $gray-color;
					}

				}
			}
		}
	}
}